body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

#bookingForm {
    max-width: 400px;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-top: 10px;
}

input[type="button"],
input[type="reset"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="button"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}

input[type="button"]:focus,
input[type="reset"]:focus {
    outline: none;
}

input[type="button"]:active,
input[type="reset"]:active {
    background-color: #3e8e41;
}

input:disabled {
    background-color: #e9e9e9;
    color: #555;
}
